.google {
  width: 220px;
  margin: 0.5rem 0;
  background-color: #4e87dc;
  padding: 0.5rem;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  align-self: center;
}


.forgetPass {
  display: flex;
  justify-content: space-between;

  p {
    color: gray;
    cursor: pointer;
    font-size: 0.9em;
  }


  p:hover{
    color: #4e87dc;
  }
}


