.addAmountButton{
    border: #97D9B7 1px solid;
    border-radius: 10px;
    width: 7rem;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}