$deleteColor: #f14343;
$confirmColor: #38ad35;
$authColor: #ff717f;

@mixin btnmixin {
  cursor: pointer;
  color: white;
  padding: 10px 12px;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: center;
}
.delete {
  background-color: $deleteColor;
  width: 20%;
  font-size: 0.9em;
  @include btnmixin();
}

.delete:hover {
  background-color: #ff0000;
}

.confirm {
  background-color: $confirmColor;
  @include btnmixin();
  height: 45px;
  width: 200px;
  margin: 10px auto;
  font-size: 1.2em;
}

.confirm:hover {
  background-color: #058803;
}

.auth {
  @include btnmixin();
  height: 45px;
  width: 200px;
  margin: 10px auto;
  font-size: 1.2em;
  background-color:$authColor;
}
