.updatedMessage {
  background-color: #22bb33;
  color: rgb(253, 252, 252);
  border-radius: 2px;
  padding: 0.5em;
  text-align: center;
  margin: 20px 0px;
  display: flex;
  align-items: center;

  p{
    margin-right: 10px;
  }
 
}


@media screen and (min-width: 1000px) {
  .updatedMessage {
    position: absolute;
    border-radius: 2px;
    padding: 0.5em;
    right: 10px;
    top: 10px;
  }
}
