.footerContainer{
    display: flex;
    justify-content: space-between;
    border-top: rgb(196, 120, 120) solid 1.5px;
    color: black;
    padding:0.5em 0.7em;
}

.footerContainer span{
    padding: 0.2em;
    cursor: pointer;
}

