.successMessage {
  background-color: rgba(168, 160, 160, 0.8);
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  .message {
    color: rgb(74, 117, 9);
    border-radius: 50%;
    background-color: honeydew;
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
  }
}
