.layoutAccount {
  font-size: 1.2em;
  
  section{
    min-height: 100vh
  }

  .leftNav {
    display: none;
  }

  h2 {
    text-align: center;
  }

  @media screen and (min-width: 1000px) {
    section {
      display: flex;
      min-height: 84vh;
    }
    .leftNav {
      position: relative;
      display: block;
      width: 20%;
      margin: 20px 0;
      box-shadow: 1px 1px 10px gray;
      border-radius: 10px;
      min-height: 90vh;
    }
    main {
      width: 70%;
      margin: 20px auto;
      box-shadow: 1px 1px 10px gray;
      border-radius: 10px;
    }
  }
}
