@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  padding: 10px;
  font-family: "Poppins", sans-serif;
}
input {
  margin: 0.5em 0;
  border-radius: 5px;
  border: none;
  outline: none;
  background-color: #e4e4e4;
  padding: 1.2em;
}

.card-element {
  border-radius: 5px;
  padding: 12px;
  max-height: 44px;
  width: 100%;
  background: #f0eeee;
  box-sizing: border-box;
  margin: 10px 0;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-weight: 1000;
  letter-spacing: 0.1em;
  font-size: 2em;
}
